# ================================================================
# Arquivos e pastas que não devem ser versionados
# ================================================================

# Pastas de dependências do Node.js
node_modules/
**/node_modules/

# Arquivos de log gerados pelo NPM ou Yarn
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build e distribuições geradas automaticamente
dist/
build/

# Cache do Expo e do React Native
.expo/
.expo-shared/

# Arquivos de ambiente que podem conter informações sensíveis
.env
.env.local

# ================================================================
# Arquivos e pastas específicos de sistemas operacionais e IDEs
# ================================================================

# Arquivos criados pelo macOS
.DS_Store

# Pastas de configurações de IDEs (JetBrains, VS Code, etc.)
.idea/
.vscode/

# Arquivos de projeto do Sublime Text
*.sublime-project
*.sublime-workspace

# ================================================================
# Outros caches e diretórios temporários
# ================================================================

# Relatórios de cobertura de testes
coverage/

# ================================================================
# Arquivos de Banco de Dados (Opcional)
# ================================================================
*.sqlite
*.mdf
*.ldf
*.mdb
# ================================================================
# Arquivos de Upload (Opcional)
# ================================================================
uploads/
temp/
# ================================================================
# Arquivos de Configuração Específicos do Ambiente (Opcional)
# ================================================================
config/local.js
config/development.js
# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

expo-env.d.ts
# @end expo-cli